In [2]:
# Dependencies and Setup
import pandas as pd

# File path
file = "Resources/purchase_data.csv"

# Read File and store into Pandas data frame
file_df = pd.read_csv(file)

In [3]:
file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [4]:
# Find total player count - make sure to find unique values only
players = file_df["SN"].nunique()
players

576

In [6]:
# Display Player count
player_count_df = pd.DataFrame({"Total Player Count" : "576"}, index = [0])
player_count_df

  Total Player Count
0                576

## Purchasing Analysis (Total)

In [7]:
# Find unique number of items
unique_items = file_df["Item Name"].nunique()
unique_items

179

In [8]:
# Find average price of items
average_price = file_df["Price"].mean()
average_price

3.050987179487176

In [9]:
# Find total number of purchases
total_purchases = file_df["Purchase ID"].count()
total_purchases

780

In [10]:
# Find total revenue made
total_revenue = file_df["Price"].sum()
total_revenue

2379.77

In [11]:
# Display total purchasing summary data
purchase_summary_df = pd.DataFrame({"Number of Unique Items" : unique_items, "Average Price": average_price, "Number of Purchases": total_purchases, "Total Revenue": total_revenue}, index = [0])
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,.2f}".format)
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [12]:
# Find total of each gender category
gender_grouped = file_df.groupby("Gender")
unique_member_gen = gender_grouped["SN"].nunique()
unique_member_gen

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [13]:
# Find percentage of each gender
gender_percent = unique_member_gen / players * 100
gender_percent

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [14]:
# Display gender demographics
gender_demographics_df = pd.DataFrame({"Total Count" : unique_member_gen, "Percentage of Players": gender_percent})
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}".format) + "%"
gender_demographics_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [15]:
# Find purchase count for each gender
gender_purchases = file_df["Gender"].value_counts()
gender_purchases

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
# Find average gender purchase price 
av_gen_purchase = gender_grouped["Price"].mean()
av_gen_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [17]:
# Find total purchase value
total_gender_purchase = gender_grouped["Price"].sum()
total_gender_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [18]:
# Find average total purchase per person
av_total_purchase_pp = total_gender_purchase / unique_member_gen
av_total_purchase_pp

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [19]:
# Display gender purchasing Analysis
gender_purchasing_analysis_df = pd.DataFrame({"Purchase Count": gender_purchases, "Average Purchase Price": av_gen_purchase, "Total Purchase Value": total_gender_purchase,	"Avg Total Purchase per Person": av_total_purchase_pp})
gender_purchasing_analysis_df["Average Purchase Price"] = gender_purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchasing_analysis_df["Total Purchase Value"] = gender_purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
gender_purchasing_analysis_df["Avg Total Purchase per Person"] = gender_purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [20]:
# Find min and max of age range
min_age = file_df["Age"].min()
max_age = file_df["Age"].max()

str(min_age) + " & " + str(max_age)

'7 & 45'

In [21]:
# Create bins for each age group
bins = [7, 9, 14, 19, 24, 29, 34, 39, 46]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [22]:
# Categorise players by age
file_df["Age Category"] = pd.cut(file_df["Age"], bins, labels = group_names, include_lowest = True)
file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
# Find total players by age group
player_category = file_df.groupby("Age Category")
total_count = player_category["SN"].nunique()
total_count

Age Category
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [24]:
# Find percentage of players
percentage_players = total_count / players * 100
percentage_players

Age Category
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [25]:
# Display age demographics Analysis
age_demographics_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": percentage_players})
age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map("{:.2f}".format) + "%"
age_demographics_df

              Total Count Percentage of Players
Age Category
<10                    17                 2.95%
10-14                  22                 3.82%
15-19                 107                18.58%
20-24                 258                44.79%
25-29                  77                13.37%
30-34                  52                 9.03%
35-39                  31                 5.38%
40+                    12                 2.08%

## Purchasing Analysis (Age)

In [40]:
# Find number of purchases for each age group
purchases_per_agegroup = file_df["Age Category"].value_counts()
purchases_per_agegroup

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Category, dtype: int64

In [35]:
# Find average purchase price for each group
average_purchase_price_pg = player_category["Price"].mean()
average_purchase_price_pg

Age Category
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [37]:
# Find total purchase value for each group
total_group_spend = player_category["Price"].sum()
total_group_spend

Age Category
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [38]:
# Find average total purchase per person
av_total_spend_pp = total_group_spend / total_count
av_total_spend_pp

Age Category
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [43]:
# Display age purchasing Analysis
age_purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchases_per_agegroup, "Average Purchase Price": average_purchase_price_pg, "Total Purchase Value": total_group_spend, "Avg Total Purchase per Person": av_total_spend_pp})
age_purchasing_analysis_df["Average Purchase Price"] = age_purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
age_purchasing_analysis_df["Total Purchase Value"] = age_purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
age_purchasing_analysis_df["Avg Total Purchase per Person"] = age_purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
age_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [108]:
# Group by unique members
unique_players_group = file_df.groupby("SN")

In [109]:
# Find top spenders purchase count
top_purchase_count = unique_players_group["Price"].count()
top_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [110]:
# Find average purchase price
av_purchase_price_top = unique_players_group["Price"].mean()
av_purchase_price_top

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [111]:
# Find total Purchase value
unique_player_price = unique_players_group["Price"].sum()
unique_player_price

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [112]:
# Display top spenders Analysis
top_spending_analysis_df = pd.DataFrame({"Purchase Count": top_purchase_count, "Average Purchase Price": av_purchase_price_top, "Total Purchase Value": unique_player_price})
top_spending_analysis_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

In [113]:
# Arrange values in correct order
ordered_top_spending_analysis_df = top_spending_analysis_df.sort_values("Total Purchase Value", ascending = False)
ordered_top_spending_analysis_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

In [114]:
# Format data
ordered_top_spending_analysis_df["Average Purchase Price"] = ordered_top_spending_analysis_df["Average Purchase Price"].map("${:.2f}".format)
ordered_top_spending_analysis_df["Total Purchase Value"] = ordered_top_spending_analysis_df["Total Purchase Value"].map("${:.2f}".format)

ordered_top_spending_analysis_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [43]:
# Find unique item ID, item name and price
items_df = file_df.loc[:,["Item ID","Item Name","Price"]]
items_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [44]:
# Group by Item ID and Item Name
items_grouped = items_df.groupby(["Item ID", "Item Name"])

In [45]:
# Find purchase count of every item
item_purchase_count = items_grouped["Price"].count()
item_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [60]:
# Find item price of every item
price_per_item = items_grouped["Price"].mean()
price_per_item

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [61]:
# Find total purchases of every item
total_item_purchase_value = items_grouped["Price"].sum()
total_item_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [62]:
# Display popular item Analysis
popular_item_analysis_df = pd.DataFrame({"Purchase Count": item_purchase_count, "Item Price": price_per_item, "Total Purchase Value": total_item_purchase_value})

In [66]:
# Sort in descending order
ordered_popular_item_analysis_df = popular_item_analysis_df.sort_values("Purchase Count", ascending = False)
ordered_popular_item_analysis_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

In [67]:
# Format data
ordered_popular_item_analysis_df["Item Price"] = popular_item_analysis_df["Item Price"].map("${:.2f}".format)
ordered_popular_item_analysis_df["Total Purchase Value"] = popular_item_analysis_df["Total Purchase Value"].map("${:.2f}".format)
ordered_popular_item_analysis_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [68]:
# Use previous table before formatting (need number values not strings)
profitable_popular_item_analysis_df = popular_item_analysis_df.sort_values("Total Purchase Value", ascending = False)
profitable_popular_item_analysis_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75

In [69]:
# Format data
profitable_popular_item_analysis_df["Item Price"] = popular_item_analysis_df["Item Price"].map("${:.2f}".format)
profitable_popular_item_analysis_df["Total Purchase Value"] = popular_item_analysis_df["Total Purchase Value"].map("${:.2f}".format)
profitable_popular_item_analysis_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80